 .header{
    height: 55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
 }
 .left-section{
    background-color: lightblue;
    width: 150px;
 }
 .middle-section{
    background-color: pink ;
    flex:1;
    margin-right: 30px;
    margin-left:70px;
    max-width:300px;
 }
 .right-section{
    background-color:lightblue;
    width: 200px;
 }